<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro CRUD - Recuperar</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet"
	href="/webjars/datatables/css/jquery.dataTables.min.css">

<script type="text/javascript" charset="utf8"
	src="/webjars/jquery/jquery.min.js"></script>

<script type="text/javascript" charset="utf8"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" charset="utf8"
	src="/webjars/datatables/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" charset="utf8">
$(document).ready( function () {
    $('#personTable').DataTable();
} );
</script>
</head>
<body>
	<div class="table-responsive">
		<table id="personTable" class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">FIRST NAME</th>
					<th scope="col">LAST NAME</th>
					<th scope="col">E-MAIL</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="person : ${personList}">
					<td th:text="${person.firstName}">First Name</td>
					<td th:text="${person.lastName}">Last Name</td>
					<td th:text="${person.email}">E-mail</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>